{
  "swagger": "2.0",
  "info": {
    "title": "BankingAPI",
    "version": "v1"
  },
	"host": "el-barka.runasp.net",
	"basePath": "/api",
	"schemes": ["http"],
,
  "paths": {
    "/api/Aml": {
      "get": {
        "tags": [
          "Aml"
        ],
        "produces": [
          "text/plain",
          "application/json",
          "text/json"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/AmlScreening"
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Aml"
        ],
        "consumes": [
          "application/json",
          "text/json",
          "application/*+json"
        ],
        "produces": [
          "text/plain",
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "schema": {
              "$ref": "#/definitions/AmlScreening"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/AmlScreening"
            }
          }
        }
      }
    },
    "/api/Aml/{id}": {
      "get": {
        "tags": [
          "Aml"
        ],
        "produces": [
          "text/plain",
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "required": true,
            "type": "string",
            "format": "uuid"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/AmlScreening"
            }
          }
        }
      },
      "put": {
        "tags": [
          "Aml"
        ],
        "consumes": [
          "application/json",
          "text/json",
          "application/*+json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "required": true,
            "type": "string",
            "format": "uuid"
          },
          {
            "in": "body",
            "name": "body",
            "schema": {
              "$ref": "#/definitions/AmlScreening"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      },
      "delete": {
        "tags": [
          "Aml"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "required": true,
            "type": "string",
            "format": "uuid"
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/api/Aml/NationalId/{nationalId}": {
      "get": {
        "tags": [
          "Aml"
        ],
        "produces": [
          "text/plain",
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "nationalId",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/AmlScreening"
              }
            }
          }
        }
      }
    },
    "/api/CoreAccount": {
      "get": {
        "tags": [
          "CoreAccount"
        ],
        "produces": [
          "text/plain",
          "application/json",
          "text/json"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/CoreAccountDTO"
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "CoreAccount"
        ],
        "consumes": [
          "application/json",
          "text/json",
          "application/*+json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "schema": {
              "$ref": "#/definitions/CoreAccount"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/api/CoreAccount/{accountNumber}": {
      "get": {
        "tags": [
          "CoreAccount"
        ],
        "produces": [
          "text/plain",
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "accountNumber",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/CoreAccountDTO"
            }
          }
        }
      },
      "put": {
        "tags": [
          "CoreAccount"
        ],
        "consumes": [
          "application/json",
          "text/json",
          "application/*+json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "accountNumber",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "body",
            "schema": {
              "$ref": "#/definitions/CoreAccount"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      },
      "delete": {
        "tags": [
          "CoreAccount"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "accountNumber",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/api/CoreAccount/{accountNumber}/RemoveDebitBlock": {
      "patch": {
        "tags": [
          "CoreAccount"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "accountNumber",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/api/CoreCustomer": {
      "get": {
        "tags": [
          "CoreCustomer"
        ],
        "produces": [
          "text/plain",
          "application/json",
          "text/json"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/CoreCustomerDTO"
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "CoreCustomer"
        ],
        "consumes": [
          "application/json",
          "text/json",
          "application/*+json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "schema": {
              "$ref": "#/definitions/CoreCustomer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/api/CoreCustomer/CIF/{cif}": {
      "get": {
        "tags": [
          "CoreCustomer"
        ],
        "produces": [
          "text/plain",
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "cif",
            "required": true,
            "type": "integer",
            "format": "int64"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/CoreCustomerDTO"
            }
          }
        }
      }
    },
    "/api/CoreCustomer/NationalId/{nationalId}": {
      "get": {
        "tags": [
          "CoreCustomer"
        ],
        "produces": [
          "text/plain",
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "nationalId",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/CoreCustomerDTO"
            }
          }
        }
      }
    },
    "/api/CoreCustomer/{cif}": {
      "put": {
        "tags": [
          "CoreCustomer"
        ],
        "consumes": [
          "application/json",
          "text/json",
          "application/*+json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "cif",
            "required": true,
            "type": "integer",
            "format": "int64"
          },
          {
            "in": "body",
            "name": "body",
            "schema": {
              "$ref": "#/definitions/CoreCustomer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      },
      "delete": {
        "tags": [
          "CoreCustomer"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "cif",
            "required": true,
            "type": "integer",
            "format": "int64"
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/api/Ecm/Folders": {
      "get": {
        "tags": [
          "Ecm"
        ],
        "produces": [
          "text/plain",
          "application/json",
          "text/json"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/EcmFolderDTO"
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Ecm"
        ],
        "consumes": [
          "application/json",
          "text/json",
          "application/*+json"
        ],
        "produces": [
          "text/plain",
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "schema": {
              "$ref": "#/definitions/EcmFolder"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/EcmFolder"
            }
          }
        }
      }
    },
    "/api/Ecm/Folders/{cif}": {
      "get": {
        "tags": [
          "Ecm"
        ],
        "produces": [
          "text/plain",
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "cif",
            "required": true,
            "type": "integer",
            "format": "int64"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/EcmFolderDTO"
              }
            }
          }
        }
      }
    },
    "/api/Ecm/Folders/{id}": {
      "put": {
        "tags": [
          "Ecm"
        ],
        "consumes": [
          "application/json",
          "text/json",
          "application/*+json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "required": true,
            "type": "string",
            "format": "uuid"
          },
          {
            "in": "body",
            "name": "body",
            "schema": {
              "$ref": "#/definitions/EcmFolder"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      },
      "delete": {
        "tags": [
          "Ecm"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "required": true,
            "type": "string",
            "format": "uuid"
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/api/Ecm/Folders/{folderId}/{requestId}/Documents": {
      "get": {
        "tags": [
          "Ecm"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "folderId",
            "required": true,
            "type": "string",
            "format": "uuid"
          },
          {
            "in": "path",
            "name": "requestId",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/api/Ecm/Documents": {
      "get": {
        "tags": [
          "Ecm"
        ],
        "produces": [
          "text/plain",
          "application/json",
          "text/json"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/EcmDocumentDTO"
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Ecm"
        ],
        "consumes": [
          "application/json",
          "text/json",
          "application/*+json"
        ],
        "produces": [
          "text/plain",
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "schema": {
              "$ref": "#/definitions/EcmDocument"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/EcmDocument"
            }
          }
        }
      }
    },
    "/api/Ecm/Documents/{id}": {
      "get": {
        "tags": [
          "Ecm"
        ],
        "produces": [
          "text/plain",
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "required": true,
            "type": "string",
            "format": "uuid"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/EcmDocumentDTO"
            }
          }
        }
      },
      "put": {
        "tags": [
          "Ecm"
        ],
        "consumes": [
          "application/json",
          "text/json",
          "application/*+json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "required": true,
            "type": "string",
            "format": "uuid"
          },
          {
            "in": "body",
            "name": "body",
            "schema": {
              "$ref": "#/definitions/EcmDocument"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      },
      "delete": {
        "tags": [
          "Ecm"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "required": true,
            "type": "string",
            "format": "uuid"
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/api/Ecm/Documents/{id}/Status": {
      "get": {
        "tags": [
          "Ecm"
        ],
        "produces": [
          "text/plain",
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "required": true,
            "type": "string",
            "format": "uuid"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "string"
            }
          }
        }
      }
    }
  },
  "definitions": {
    "AmlScreening": {
      "required": [
        "riskLevel",
        "riskScore"
      ],
      "type": "object",
      "properties": {
        "screeningId": {
          "format": "uuid",
          "type": "string"
        },
        "nationalID": {
          "maxLength": 14,
          "minLength": 0,
          "type": "string"
        },
        "passportNo": {
          "maxLength": 30,
          "minLength": 0,
          "type": "string"
        },
        "nameAr": {
          "maxLength": 200,
          "minLength": 0,
          "type": "string"
        },
        "nameEn": {
          "maxLength": 200,
          "minLength": 0,
          "type": "string"
        },
        "riskScore": {
          "format": "int32",
          "type": "integer"
        },
        "riskLevel": {
          "maxLength": 10,
          "minLength": 0,
          "type": "string"
        },
        "hitsCount": {
          "format": "int32",
          "type": "integer"
        },
        "performedAt": {
          "format": "date-time",
          "type": "string"
        }
      },
      "additionalProperties": false
    },
    "CoreAccount": {
      "required": [
        "accountType",
        "cif",
        "currency"
      ],
      "type": "object",
      "properties": {
        "accountNumber": {
          "maxLength": 20,
          "minLength": 0,
          "type": "string"
        },
        "cif": {
          "format": "int64",
          "type": "integer"
        },
        "customer": {
          "$ref": "#/definitions/CoreCustomer"
        },
        "accountType": {
          "maxLength": 30,
          "minLength": 0,
          "type": "string"
        },
        "currency": {
          "maxLength": 3,
          "minLength": 0,
          "type": "string"
        },
        "debitBlocked": {
          "type": "boolean"
        },
        "productCode": {
          "maxLength": 30,
          "minLength": 0,
          "type": "string"
        },
        "createdAt": {
          "format": "date-time",
          "type": "string"
        }
      },
      "additionalProperties": false
    },
    "CoreAccountDTO": {
      "type": "object",
      "properties": {
        "accountNumber": {
          "type": "string"
        },
        "cif": {
          "format": "int64",
          "type": "integer"
        },
        "accountType": {
          "type": "string"
        },
        "currency": {
          "type": "string"
        },
        "debitBlocked": {
          "type": "boolean"
        },
        "productCode": {
          "type": "string"
        },
        "createdAt": {
          "format": "date-time",
          "type": "string"
        },
        "customer": {
          "$ref": "#/definitions/CoreCustomerDTO"
        }
      },
      "additionalProperties": false
    },
    "CoreCustomer": {
      "required": [
        "branchCode",
        "dob",
        "gender",
        "mobile",
        "nameAr"
      ],
      "type": "object",
      "properties": {
        "cif": {
          "format": "int64",
          "type": "integer"
        },
        "nationalID": {
          "maxLength": 14,
          "minLength": 0,
          "type": "string"
        },
        "passportNo": {
          "maxLength": 30,
          "minLength": 0,
          "type": "string"
        },
        "nameAr": {
          "maxLength": 200,
          "minLength": 0,
          "type": "string"
        },
        "nameEn": {
          "maxLength": 200,
          "minLength": 0,
          "type": "string"
        },
        "dob": {
          "format": "date",
          "type": "string"
        },
        "gender": {
          "type": "string"
        },
        "address": {
          "maxLength": 400,
          "minLength": 0,
          "type": "string"
        },
        "mobile": {
          "maxLength": 20,
          "minLength": 0,
          "type": "string"
        },
        "email": {
          "format": "email",
          "maxLength": 200,
          "minLength": 0,
          "type": "string"
        },
        "branchCode": {
          "maxLength": 10,
          "minLength": 0,
          "type": "string"
        },
        "createdAt": {
          "format": "date-time",
          "type": "string"
        },
        "accounts": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/CoreAccount"
          }
        }
      },
      "additionalProperties": false
    },
    "CoreCustomerDTO": {
      "type": "object",
      "properties": {
        "cif": {
          "format": "int64",
          "type": "integer"
        },
        "nationalID": {
          "type": "string"
        },
        "passportNo": {
          "type": "string"
        },
        "nameAr": {
          "type": "string"
        },
        "nameEn": {
          "type": "string"
        },
        "dob": {
          "format": "date",
          "type": "string"
        },
        "gender": {
          "type": "string"
        },
        "address": {
          "type": "string"
        },
        "mobile": {
          "type": "string"
        },
        "email": {
          "type": "string"
        },
        "branchCode": {
          "type": "string"
        },
        "createdAt": {
          "format": "date-time",
          "type": "string"
        },
        "accounts": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/CoreAccountDTO"
          }
        }
      },
      "additionalProperties": false
    },
    "EcmDocument": {
      "required": [
        "docType",
        "fileName",
        "folderId",
        "requestId"
      ],
      "type": "object",
      "properties": {
        "documentId": {
          "format": "uuid",
          "type": "string"
        },
        "folderId": {
          "format": "uuid",
          "type": "string"
        },
        "folder": {
          "$ref": "#/definitions/EcmFolder"
        },
        "requestId": {
          "maxLength": 50,
          "minLength": 0,
          "type": "string"
        },
        "docType": {
          "maxLength": 50,
          "minLength": 0,
          "type": "string"
        },
        "fileName": {
          "maxLength": 255,
          "minLength": 0,
          "type": "string"
        },
        "uploadedAt": {
          "format": "date-time",
          "type": "string"
        }
      },
      "additionalProperties": false
    },
    "EcmDocumentDTO": {
      "type": "object",
      "properties": {
        "documentId": {
          "format": "uuid",
          "type": "string"
        },
        "folderId": {
          "format": "uuid",
          "type": "string"
        },
        "requestId": {
          "type": "string"
        },
        "docType": {
          "type": "string"
        },
        "fileName": {
          "type": "string"
        },
        "uploadedAt": {
          "format": "date-time",
          "type": "string"
        },
        "folder": {
          "$ref": "#/definitions/EcmFolderDTO"
        }
      },
      "additionalProperties": false
    },
    "EcmFolder": {
      "required": [
        "cif",
        "requestId"
      ],
      "type": "object",
      "properties": {
        "folderId": {
          "format": "uuid",
          "type": "string"
        },
        "cif": {
          "format": "int64",
          "type": "integer"
        },
        "requestId": {
          "maxLength": 50,
          "minLength": 0,
          "type": "string"
        },
        "pathHint": {
          "maxLength": 500,
          "minLength": 0,
          "type": "string"
        },
        "createdAt": {
          "format": "date-time",
          "type": "string"
        },
        "documents": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/EcmDocument"
          }
        }
      },
      "additionalProperties": false
    },
    "EcmFolderDTO": {
      "type": "object",
      "properties": {
        "folderId": {
          "format": "uuid",
          "type": "string"
        },
        "cif": {
          "format": "int64",
          "type": "integer"
        },
        "requestId": {
          "type": "string"
        },
        "pathHint": {
          "type": "string"
        },
        "createdAt": {
          "format": "date-time",
          "type": "string"
        },
        "documents": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/EcmDocumentDTO"
          }
        }
      },
      "additionalProperties": false
    }
  }
}
