{
  "swagger": "2.0",
  "info": {
    "description": "This is a comprehensive Banking API server that provides core banking functionalities including customer management, account operations, AML screening, and document management. You can find out more about this API at http://el-barka.runasp.net.",
    "version": "1.0",
    "title": "BankingAPI",
    "termsOfService": "http://el-barka.runasp.net/terms/",
    "contact": {
      "email": "api@el-barka.runasp.net"
    },
    "license": {
      "name": "Apache 2.0",
      "url": "http://www.apache.org/licenses/LICENSE-2.0.html"
    }
  },
  "host": "el-barka.runasp.net",
  "basePath": "/api",
  "tags": [
    {
      "name": "aml",
      "description": "Anti-Money Laundering operations",
      "externalDocs": {
        "description": "Find out more about AML",
        "url": "http://el-barka.runasp.net/aml"
      }
    },
    {
      "name": "account",
      "description": "Core banking account operations"
    },
    {
      "name": "customer",
      "description": "Customer management operations",
      "externalDocs": {
        "description": "Find out more about customer management",
        "url": "http://el-barka.runasp.net/customers"
      }
    },
    {
      "name": "document",
      "description": "Document and folder management operations"
    }
  ],
  "schemes": ["http"],
  "paths": {
    "/Aml": {
      "post": {
        "tags": ["aml"],
        "summary": "Create a new AML screening",
        "description": "Perform AML screening for a customer using form parameters",
        "operationId": "createAmlScreening",
        "consumes": ["application/x-www-form-urlencoded"],
        "produces": ["application/json"],
        "parameters": [
          {
            "name": "nationalID",
            "in": "formData",
            "description": "National ID of the customer",
            "required": true,
            "type": "string",
            "maxLength": 14,
            "minLength": 1,
            "example": "12345678901234"
          },
          {
            "name": "passportNo",
            "in": "formData",
            "description": "Passport number of the customer",
            "required": false,
            "type": "string",
            "maxLength": 30,
            "minLength": 1,
            "example": "A12345678"
          },
          {
            "name": "nameAr",
            "in": "formData",
            "description": "Customer name in Arabic",
            "required": false,
            "type": "string",
            "maxLength": 200,
            "minLength": 1,
            "example": "محمد أحمد"
          },
          {
            "name": "nameEn",
            "in": "formData",
            "description": "Customer name in English",
            "required": false,
            "type": "string",
            "maxLength": 200,
            "minLength": 1,
            "example": "Mohamed Ahmed"
          },
          {
            "name": "riskScore",
            "in": "formData",
            "description": "Risk score from AML screening",
            "required": true,
            "type": "integer",
            "format": "int32",
            "example": 75
          },
          {
            "name": "riskLevel",
            "in": "formData",
            "description": "Risk level from AML screening",
            "required": true,
            "type": "string",
            "enum": ["low", "medium", "high"],
            "example": "medium"
          },
          {
            "name": "hitsCount",
            "in": "formData",
            "description": "Number of AML hits",
            "required": false,
            "type": "integer",
            "format": "int32",
            "example": 2
          },
          {
            "name": "performedAt",
            "in": "formData",
            "description": "Timestamp of the AML screening",
            "required": false,
            "type": "string",
            "format": "date-time",
            "example": "2025-08-18T13:57:00Z"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/AmlScreening"
            }
          },
          "400": {
            "description": "Invalid input"
          },
          "405": {
            "description": "Validation exception"
          }
        },
        "security": [
          {
            "banking_auth": ["write:aml", "read:aml"]
          }
        ]
      }
    },
    "/CoreAccount": {
      "post": {
        "tags": ["account"],
        "summary": "Create a new account",
        "description": "Create a new bank account using form parameters",
        "operationId": "createAccount",
        "consumes": ["application/x-www-form-urlencoded"],
        "produces": ["application/json"],
        "parameters": [
          {
            "name": "accountNumber",
            "in": "formData",
            "description": "Unique account number",
            "required": false,
            "type": "string",
            "maxLength": 20,
            "minLength": 1,
            "example": "1234567890"
          },
          {
            "name": "cif",
            "in": "formData",
            "description": "Customer Information File number",
            "required": true,
            "type": "integer",
            "format": "int64",
            "example": 123456
          },
          {
            "name": "accountType",
            "in": "formData",
            "description": "Type of account",
            "required": true,
            "type": "string",
            "enum": ["savings", "current", "fixed_deposit", "loan"],
            "example": "savings"
          },
          {
            "name": "currency",
            "in": "formData",
            "description": "Currency code",
            "required": true,
            "type": "string",
            "maxLength": 3,
            "minLength": 3,
            "example": "USD"
          },
          {
            "name": "debitBlocked",
            "in": "formData",
            "description": "Indicates if debit is blocked",
            "required": false,
            "type": "boolean",
            "example": false
          },
          {
            "name": "productCode",
            "in": "formData",
            "description": "Product code for the account",
            "required": false,
            "type": "string",
            "maxLength": 30,
            "minLength": 1,
            "example": "SAV001"
          },
          {
            "name": "createdAt",
            "in": "formData",
            "description": "Account creation timestamp",
            "required": false,
            "type": "string",
            "format": "date-time",
            "example": "2025-08-18T13:57:00Z"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/CoreAccount"
            }
          },
          "400": {
            "description": "Invalid input"
          },
          "405": {
            "description": "Validation exception"
          }
        },
        "security": [
          {
            "banking_auth": ["write:accounts", "read:accounts"]
          }
        ]
      }
    },
    "/CoreCustomer": {
      "post": {
        "tags": ["customer"],
        "summary": "Create customer",
        "description": "Register a new customer using form parameters",
        "operationId": "createCustomer",
        "consumes": ["application/x-www-form-urlencoded"],
        "produces": ["application/json"],
        "parameters": [
          {
            "name": "cif",
            "in": "formData",
            "description": "Customer Information File number",
            "required": true,
            "type": "integer",
            "format": "int64",
            "example": 1000000099
          },
          {
            "name": "nationalID",
            "in": "formData",
            "description": "National ID of the customer",
            "required": false,
            "type": "string",
            "maxLength": 14,
            "minLength": 1,
            "example": "12345678912345"
          },
          {
            "name": "passportNo",
            "in": "formData",
            "description": "Passport number of the customer",
            "required": false,
            "type": "string",
            "maxLength": 30,
            "minLength": 1,
            "example": "12345"
          },
          {
            "name": "nameAr",
            "in": "formData",
            "description": "Customer name in Arabic",
            "required": true,
            "type": "string",
            "maxLength": 200,
            "minLength": 1,
            "example": "يبلات"
          },
          {
            "name": "nameEn",
            "in": "formData",
            "description": "Customer name in English",
            "required": false,
            "type": "string",
            "maxLength": 200,
            "minLength": 1,
            "example": "welo"
          },
          {
            "name": "dob",
            "in": "formData",
            "description": "Date of birth (YYYY-MM-DD)",
            "required": true,
            "type": "string",
            "format": "date",
            "example": "2000-10-16"
          },
          {
            "name": "gender",
            "in": "formData",
            "description": "Gender of the customer (M or F)",
            "required": true,
            "type": "string",
            "enum": ["M", "F"],
            "example": "M"
          },
          {
            "name": "address",
            "in": "formData",
            "description": "Customer address",
            "required": false,
            "type": "string",
            "maxLength": 400,
            "minLength": 1,
            "example": "djk"
          },
          {
            "name": "mobile",
            "in": "formData",
            "description": "Customer mobile number",
            "required": true,
            "type": "string",
            "maxLength": 20,
            "minLength": 1,
            "example": "01119994851"
          },
          {
            "name": "email",
            "in": "formData",
            "description": "Customer email address",
            "required": false,
            "type": "string",
            "maxLength": 200,
            "minLength": 1,
            "format": "email",
            "example": "aaa@gmail.com"
          },
          {
            "name": "branchCode",
            "in": "formData",
            "description": "Branch code",
            "required": true,
            "type": "string",
            "maxLength": 10,
            "minLength": 1,
            "example": "EGY"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/CoreCustomer"
            }
          },
          "400": {
            "description": "Invalid input"
          }
        },
        "security": [
          {
            "banking_auth": ["write:customers"]
          }
        ]
      }
    },
    "/Ecm/Folders": {
      "post": {
        "tags": ["document"],
        "summary": "Create a new folder",
        "description": "Create a document folder using form parameters",
        "operationId": "createFolder",
        "consumes": ["application/x-www-form-urlencoded"],
        "produces": ["application/json"],
        "parameters": [
          {
            "name": "cif",
            "in": "formData",
            "description": "Customer Information File number",
            "required": true,
            "type": "integer",
            "format": "int64",
            "example": 123456
          },
          {
            "name": "requestId",
            "in": "formData",
            "description": "Request ID for the folder",
            "required": true,
            "type": "string",
            "maxLength": 50,
            "minLength": 1,
            "example": "REQ001"
          },
          {
            "name": "pathHint",
            "in": "formData",
            "description": "Path hint for the folder",
            "required": false,
            "type": "string",
            "maxLength": 500,
            "minLength": 1,
            "example": "/customers/123456/docs"
          },
          {
            "name": "createdAt",
            "in": "formData",
            "description": "Folder creation timestamp",
            "required": false,
            "type": "string",
            "format": "date-time",
            "example": "2025-08-18T13:57:00Z"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/EcmFolder"
            }
          },
          "405": {
            "description": "Invalid input"
          }
        },
        "security": [
          {
            "banking_auth": ["write:documents", "read:documents"]
          }
        ]
      }
    },
    "/Ecm/Folders/{folderId}/{requestId}/Documents": {
      "get": {
        "tags": ["document"],
        "summary": "Get documents in a folder",
        "description": "Retrieve documents in a specific folder and request ID",
        "operationId": "getDocumentsByFolderAndRequestId",
        "produces": ["application/json"],
        "parameters": [
          {
            "name": "folderId",
            "in": "path",
            "description": "ID of folder to retrieve documents from",
            "required": true,
            "type": "string",
            "format": "uuid",
            "example": "550e8400-e29b-41d4-a716-446655440000"
          },
          {
            "name": "requestId",
            "in": "path",
            "description": "Request ID associated with documents",
            "required": true,
            "type": "string",
            "example": "REQ001"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/EcmDocument"
              }
            }
          },
          "400": {
            "description": "Invalid folder ID or request ID supplied"
          },
          "404": {
            "description": "Documents not found"
          }
        },
        "security": [
          {
            "banking_auth": ["read:documents"]
          }
        ]
      }
    },
    "/Ecm/Documents": {
      "post": {
        "tags": ["document"],
        "summary": "Upload a document",
        "description": "Upload a new document to the system using form parameters",
        "operationId": "uploadDocument",
        "consumes": ["application/x-www-form-urlencoded"],
        "produces": ["application/json"],
        "parameters": [
          {
            "name": "folderId",
            "in": "formData",
            "description": "ID of the folder containing the document",
            "required": true,
            "type": "string",
            "format": "uuid",
            "example": "550e8400-e29b-41d4-a716-446655440000"
          },
          {
            "name": "requestId",
            "in": "formData",
            "description": "Request ID associated with the document",
            "required": true,
            "type": "string",
            "maxLength": 50,
            "minLength": 1,
            "example": "REQ001"
          },
          {
            "name": "docType",
            "in": "formData",
            "description": "Type of document",
            "required": true,
            "type": "string",
            "enum": ["identity", "proof_of_income", "bank_statement", "contract", "other"],
            "example": "identity"
          },
          {
            "name": "fileName",
            "in": "formData",
            "description": "Name of the document file",
            "required": true,
            "type": "string",
            "maxLength": 255,
            "minLength": 1,
            "example": "passport.pdf"
          },
          {
            "name": "fileContent",
            "in": "formData",
            "description": "Base64-encoded file content",
            "required": false,
            "type": "string",
            "format": "byte",
            "example": "data:application/pdf;base64,JVBERi0xLjQ..."
          },
          {
            "name": "uploadedAt",
            "in": "formData",
            "description": "Document upload timestamp",
            "required": false,
            "type": "string",
            "format": "date-time",
            "example": "2025-08-18T13:57:00Z"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/EcmDocument"
            }
          },
          "405": {
            "description": "Invalid input"
          }
        },
        "security": [
          {
            "banking_auth": ["write:documents", "read:documents"]
          }
        ]
      }
    }
  },
  "securityDefinitions": {
    "banking_auth": {
      "type": "oauth2",
      "authorizationUrl": "http://el-barka.runasp.net/oauth/dialog",
      "flow": "implicit",
      "scopes": {
        "write:aml": "modify AML screening records",
        "read:aml": "read AML screening records",
        "write:accounts": "modify accounts in your system",
        "read:accounts": "read your accounts",
        "write:customers": "modify customer records",
        "read:customers": "read customer records",
        "write:documents": "modify documents",
        "read:documents": "read documents"
      }
    }
  },
  "definitions": {
    "AmlScreening": {
      "type": "object",
      "required": ["screeningId", "riskLevel", "riskScore"],
      "properties": {
        "screeningId": {
          "type": "string",
          "format": "uuid",
          "example": "550e8400-e29b-41d4-a716-446655440000",
          "description": "Unique identifier for the AML screening"
        },
        "nationalID": {
          "type": "string",
          "maxLength": 14,
          "minLength": 1,
          "example": "12345678901234",
          "description": "National ID of the customer"
        },
        "passportNo": {
          "type": "string",
          "maxLength": 30,
          "minLength": 1,
          "example": "A12345678",
          "description": "Passport number of the customer"
        },
        "nameAr": {
          "type": "string",
          "maxLength": 200,
          "minLength": 1,
          "example": "محمد أحمد",
          "description": "Customer name in Arabic"
        },
        "nameEn": {
          "type": "string",
          "maxLength": 200,
          "minLength": 1,
          "example": "Mohamed Ahmed",
          "description": "Customer name in English"
        },
        "riskScore": {
          "type": "integer",
          "format": "int32",
          "example": 75,
          "description": "Risk score from AML screening"
        },
        "riskLevel": {
          "type": "string",
          "enum": ["low", "medium", "high"],
          "example": "medium",
          "description": "Risk level from AML screening"
        },
        "hitsCount": {
          "type": "integer",
          "format": "int32",
          "example": 2,
          "description": "Number of AML hits"
        },
        "performedAt": {
          "type": "string",
          "format": "date-time",
          "example": "2025-08-18T13:57:00Z",
          "description": "Timestamp of the AML screening"
        }
      },
      "xml": {
        "name": "AmlScreening"
      }
    },
    "CoreAccount": {
      "type": "object",
      "required": ["accountType", "cif", "currency"],
      "properties": {
        "accountNumber": {
          "type": "string",
          "maxLength": 20,
          "minLength": 1,
          "example": "1234567890",
          "description": "Unique account number"
        },
        "cif": {
          "type": "integer",
          "format": "int64",
          "example": 123456,
          "description": "Customer Information File number"
        },
        "accountType": {
          "type": "string",
          "enum": ["savings", "current", "fixed_deposit", "loan"],
          "example": "savings",
          "description": "Type of account"
        },
        "currency": {
          "type": "string",
          "maxLength": 3,
          "minLength": 3,
          "example": "USD",
          "description": "Currency code"
        },
        "debitBlocked": {
          "type": "boolean",
          "example": false,
          "description": "Indicates if debit is blocked"
        },
        "productCode": {
          "type": "string",
          "maxLength": 30,
          "minLength": 1,
          "example": "SAV001",
          "description": "Product code for the account"
        },
        "createdAt": {
          "type": "string",
          "format": "date-time",
          "example": "2025-08-18T13:57:00Z",
          "description": "Account creation timestamp"
        }
      },
      "xml": {
        "name": "CoreAccount"
      }
    },
    "CoreCustomer": {
      "type": "object",
      "required": ["cif", "nameAr", "dob", "gender", "mobile", "branchCode"],
      "properties": {
        "cif": {
          "type": "integer",
          "format": "int64",
          "example": 1000000099,
          "description": "Customer Information File number"
        },
        "nationalID": {
          "type": "string",
          "maxLength": 14,
          "minLength": 1,
          "example": "12345678912345",
          "description": "National ID of the customer"
        },
        "passportNo": {
          "type": "string",
          "maxLength": 30,
          "minLength": 1,
          "example": "12345",
          "description": "Passport number of the customer"
        },
        "nameAr": {
          "type": "string",
          "maxLength": 200,
          "minLength": 1,
          "example": "يبلات",
          "description": "Customer name in Arabic"
        },
        "nameEn": {
          "type": "string",
          "maxLength": 200,
          "minLength": 1,
          "example": "welo",
          "description": "Customer name in English"
        },
        "dob": {
          "type": "string",
          "format": "date",
          "example": "2000-10-16",
          "description": "Date of birth (YYYY-MM-DD)"
        },
        "gender": {
          "type": "string",
          "enum": ["M", "F"],
          "example": "M",
          "description": "Gender of the customer (M or F)"
        },
        "address": {
          "type": "string",
          "maxLength": 400,
          "minLength": 1,
          "example": "djk",
          "description": "Customer address"
        },
        "mobile": {
          "type": "string",
          "maxLength": 20,
          "minLength": 1,
          "example": "01119994851",
          "description": "Customer mobile number"
        },
        "email": {
          "type": "string",
          "maxLength": 200,
          "minLength": 1,
          "format": "email",
          "example": "aaa@gmail.com",
          "description": "Customer email address"
        },
        "branchCode": {
          "type": "string",
          "maxLength": 10,
          "minLength": 1,
          "example": "EGY",
          "description": "Branch code"
        }
      },
      "xml": {
        "name": "CoreCustomer"
      }
    },
    "EcmFolder": {
      "type": "object",
      "required": ["cif", "requestId"],
      "properties": {
        "folderId": {
          "type": "string",
          "format": "uuid",
          "example": "550e8400-e29b-41d4-a716-446655440000",
          "description": "Unique identifier for the folder"
        },
        "cif": {
          "type": "integer",
          "format": "int64",
          "example": 123456,
          "description": "Customer Information File number"
        },
        "requestId": {
          "type": "string",
          "maxLength": 50,
          "minLength": 1,
          "example": "REQ001",
          "description": "Request ID for the folder"
        },
        "pathHint": {
          "type": "string",
          "maxLength": 500,
          "minLength": 1,
          "example": "/customers/123456/docs",
          "description": "Path hint for the folder"
        },
        "createdAt": {
          "type": "string",
          "format": "date-time",
          "example": "2025-08-18T13:57:00Z",
          "description": "Folder creation timestamp"
        }
      },
      "xml": {
        "name": "EcmFolder"
      }
    },
    "EcmDocument": {
      "type": "object",
      "required": ["docType", "fileName", "folderId", "requestId"],
      "properties": {
        "documentId": {
          "type": "string",
          "format": "uuid",
          "example": "123e4567-e89b-12d3-a456-426614174000",
          "description": "Unique identifier for the document"
        },
        "folderId": {
          "type": "string",
          "format": "uuid",
          "example": "550e8400-e29b-41d4-a716-446655440000",
          "description": "ID of the folder containing the document"
        },
        "requestId": {
          "type": "string",
          "maxLength": 50,
          "minLength": 1,
          "example": "REQ001",
          "description": "Request ID associated with the document"
        },
        "docType": {
          "type": "string",
          "enum": ["identity", "proof_of_income", "bank_statement", "contract", "other"],
          "example": "identity",
          "description": "Type of document"
        },
        "fileName": {
          "type": "string",
          "maxLength": 255,
          "minLength": 1,
          "example": "passport.pdf",
          "description": "Name of the document file"
        },
        "fileContent": {
          "type": "string",
          "format": "byte",
          "example": "data:application/pdf;base64,JVBERi0xLjQ...",
          "description": "Base64-encoded file content"
        },
        "uploadedAt": {
          "type": "string",
          "format": "date-time",
          "example": "2025-08-18T13:57:00Z",
          "description": "Document upload timestamp"
        }
      },
      "xml": {
        "name": "EcmDocument"
      }
    }
  },
  "externalDocs": {
    "description": "Find out more about Banking API",
    "url": "http://el-barka.runasp.net"
  }
}
