{
  "swagger": "2.0",
  "info": {
    "description": "This is a comprehensive Banking API server that provides core banking functionalities including customer management, account operations, AML screening, and document management. You can find out more about this API at [http://el-barka.runasp.net](http://el-barka.runasp.net).",
    "version": "1.0",
    "title": "BankingAPI",
    "termsOfService": "http://el-barka.runasp.net/terms/",
    "contact": {
      "email": "api@el-barka.runasp.net"
    },
    "license": {
      "name": "Apache 2.0",
      "url": "http://www.apache.org/licenses/LICENSE-2.0.html"
    }
  },
  "host": "el-barka.runasp.net",
  "basePath": "/api",
  "tags": [
    {
      "name": "aml",
      "description": "Anti-Money Laundering operations",
      "externalDocs": {
        "description": "Find out more about AML",
        "url": "http://el-barka.runasp.net/aml"
      }
    },
    {
      "name": "account",
      "description": "Core banking account operations"
    },
    {
      "name": "customer",
      "description": "Customer management operations",
      "externalDocs": {
        "description": "Find out more about customer management",
        "url": "http://el-barka.runasp.net/customers"
      }
    },
    {
      "name": "document",
      "description": "Document and folder management operations"
    }
  ],
  "schemes": ["http"],
  "paths": {
    "/Aml": {
      "get": {
        "tags": ["aml"],
        "summary": "Get all AML screenings",
        "description": "Retrieve a list of all AML screening records",
        "operationId": "getAmlScreenings",
        "produces": ["application/json"],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/AmlScreeningDTO"
              }
            }
          },
          "400": {
            "description": "Invalid request",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        },
        "security": [
          {
            "api_key": []
          }
        ]
      },
      "post": {
        "tags": ["aml"],
        "summary": "Create a new AML screening",
        "description": "Perform AML screening for a customer using AmlScreeningDTO for data transfer to the API. This endpoint creates a new AML screening record and is associated with AmlScreeningDTO for Nintex SmartObject generation.",
        "operationId": "createAmlScreening",
        "consumes": ["application/json"],
        "produces": ["application/json"],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "AML screening DTO object to create",
            "required": true,
            "schema": {
              "$ref": "#/definitions/AmlScreeningDTO"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/AmlScreeningDTO"
            }
          },
          "400": {
            "description": "Invalid input",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "405": {
            "description": "Validation exception",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        },
        "security": [
          {
            "banking_auth": ["write:aml", "read:aml"]
          }
        ]
      }
    },
    "/Aml/{id}": {
      "get": {
        "tags": ["aml"],
        "summary": "Find AML screening by ID",
        "description": "Returns a single AML screening record",
        "operationId": "getAmlScreeningById",
        "produces": ["application/json"],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "ID of AML screening to return",
            "required": true,
            "type": "string",
            "format": "uuid"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/AmlScreeningDTO"
            }
          },
          "400": {
            "description": "Invalid ID supplied",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "404": {
            "description": "AML screening not found",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        },
        "security": [
          {
            "api_key": []
          }
        ]
      },
      "put": {
        "tags": ["aml"],
        "summary": "Update an existing AML screening",
        "description": "Update AML screening record",
        "operationId": "updateAmlScreening",
        "consumes": ["application/json"],
        "produces": ["application/json"],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "ID of AML screening that needs to be updated",
            "required": true,
            "type": "string",
            "format": "uuid"
          },
          {
            "in": "body",
            "name": "body",
            "description": "Updated AML screening DTO object",
            "required": true,
            "schema": {
              "$ref": "#/definitions/AmlScreeningDTO"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation"
          },
          "400": {
            "description": "Invalid ID supplied",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "404": {
            "description": "AML screening not found",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "405": {
            "description": "Validation exception",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        },
        "security": [
          {
            "banking_auth": ["write:aml", "read:aml"]
          }
        ]
      },
      "delete": {
        "tags": ["aml"],
        "summary": "Delete AML screening",
        "description": "Delete an AML screening record",
        "operationId": "deleteAmlScreening",
        "produces": ["application/json"],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "AML screening ID to delete",
            "required": true,
            "type": "string",
            "format": "uuid"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation"
          },
          "400": {
            "description": "Invalid ID supplied",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "404": {
            "description": "AML screening not found",
            "schema": {
              "$ref": "#/
        }
      }
    },
    "/Aml/NationalId/{nationalId}": {
      "get": {
        "tags": ["aml"],
        "summary": "Get AML screenings by National ID",
        "description": "Retrieve AML screening records for a specific national ID",
        "operationId": "getAmlScreeningByNationalId",
        "produces": ["application/json"],
        "parameters": [
          {
            "name": "nationalId",
            "in": "path",
            "description": "National ID to retrieve AML screenings for",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/AmlScreeningDTO"
              }
            }
          },
          "400": {
            "description": "Invalid National ID",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "404": {
            "description": "AML screening not found",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        },
        "security": [
          {
            "banking_auth": ["read:aml"]
          }
        ]
      }
    },
    "/CoreAccount": {
      "get": {
        "tags": ["account"],
        "summary": "Get all accounts",
        "description": "Retrieve a list of all bank accounts",
        "operationId": "getAllAccounts",
        "produces": ["application/json"],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/CoreAccountDTO"
              }
            }
          },
          "400": {
            "description": "Invalid request",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        },
        "security": [
          {
            "banking_auth": ["read:accounts"]
          }
        ]
      },
      "post": {
        "tags": ["account"],
        "summary": "Create a new account",
        "description": "Create a new bank account using CoreAccountDTO for data transfer to the API. This endpoint creates a new account and is associated with CoreAccountDTO for Nintex SmartObject generation.",
        "operationId": "createAccount",
        "consumes": ["application/json"],
        "produces": ["application/json"],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "Account DTO object to create",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CoreAccountDTO"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Account created successfully",
            "schema": {
              "$ref": "#/definitions/CoreAccountDTO"
            }
          },
          "400": {
            "description": "Invalid input",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "405": {
            "description": "Validation exception",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        },
        "security": [
          {
            "banking_auth": ["write:accounts", "read:accounts"]
          }
        ]
      }
    },
    "/CoreAccount/{accountNumber}": {
      "get": {
        "tags": ["account"],
        "summary": "Find account by account number",
        "description": "Returns a single account",
        "operationId": "getAccountByNumber",
        "produces": ["application/json"],
        "parameters": [
          {
            "name": "accountNumber",
            "in": "path",
            "description": "Account number of account to return",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/CoreAccountDTO"
            }
          },
          "400": {
            "description": "Invalid account number supplied",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "404": {
            "description": "Account not found",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        },
        "security": [
          {
            "banking_auth": ["read:accounts"]
          }
        ]
      },
      "put": {
        "tags": ["account"],
        "summary": "Update an existing account",
        "description": "Update account information",
        "operationId": "updateAccount",
        "consumes": ["application/json"],
        "produces": ["application/json"],
        "parameters": [
          {
            "name": "accountNumber",
            "in": "path",
            "description": "Account number that needs to be updated",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "body",
            "description": "Updated account DTO object",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CoreAccountDTO"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation"
          },
          "400": {
            "description": "Invalid account number supplied",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "404": {
            "description": "Account not found",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "405": {
            "description": "Validation exception",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        },
        "security": [
          {
            "banking_auth": ["write:accounts", "read:accounts"]
          }
        ]
      },
      "delete": {
        "tags": ["account"],
        "summary": "Delete account",
        "description": "Close a bank account",
        "operationId": "deleteAccount",
        "produces": ["application/json"],
        "parameters": [
          {
            "name": "accountNumber",
            "in": "path",
            "description": "Account number to delete",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation"
          },
          "400": {
            "description": "Invalid account number supplied",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "404": {
            "description": "Account not found",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        },
        "security": [
          {
            "banking_auth": ["write:accounts"]
          }
        ]
      }
    },
    "/CoreAccount/{accountNumber}/RemoveDebitBlock": {
      "patch": {
        "tags": ["account"],
        "summary": "Remove debit block from account",
        "description": "Remove debit block restriction from an account",
        "operationId": "removeDebitBlock",
        "produces": ["application/json"],
        "parameters": [
          {
            "name": "accountNumber",
            "in": "path",
            "description": "Account number to remove debit block from",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation"
          },
          "400": {
            "description": "Invalid account number supplied",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "404": {
            "description": "Account not found",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        },
        "security": [
          {
            "banking_auth": ["write:accounts"]
          }
        ]
      }
    },
    "/CoreCustomer": {
      "get": {
        "tags": ["customer"],
        "summary": "Get all customers",
        "description": "Retrieve a list of all customers",
        "operationId": "getAllCustomers",
        "produces": ["application/json"],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/CoreCustomerDTO"
              }
            }
          },
          "400": {
            "description": "Invalid request",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        },
        "security": [
          {
            "banking_auth": ["read:customers"]
          }
        ]
      },
      "post": {
        "tags": ["customer"],
        "x-k2-entityName": "CoreCustomerDTO",
        "summary": "Create customer",
        "description": "Register a new customer using CoreCustomerDTO for data transfer to the API. This endpoint creates a new customer and is associated with CoreCustomerDTO for Nintex SmartObject generation.",
        "operationId": "createCustomer",
        "consumes": ["application/json"],
        "produces": ["application/json"],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "Customer DTO object to create",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CoreCustomerDTO"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Customer created successfully",
            "schema": {
              "$ref": "#/definitions/CoreCustomerDTO"
            }
          },
          "400": {
            "description": "Invalid input",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        },
        "security": [
          {
            "banking_auth": ["write:customers"]
          }
        ]
      }
    },
    "/CoreCustomer/CIF/{cif}": {
      "get": {
        "tags": ["customer"],
        "summary": "Get customer by CIF",
        "description": "Retrieve customer information by Customer Information File number",
        "operationId": "getCustomerByCif",
        "produces": ["application/json"],
        "parameters": [
          {
            "name": "cif",
            "in": "path",
            "description": "The CIF number that needs to be fetched",
            "required": true,
            "type": "integer",
            "format": "int64"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/CoreCustomerDTO"
            }
          },
          "400": {
            "description": "Invalid CIF supplied",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "404": {
            "description": "Customer not found",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        },
        "security": [
          {
            "banking_auth": ["read:customers"]
          }
        ]
      }
    },
    "/CoreCustomer/NationalId/{nationalId}": {
      "get": {
        "tags": ["customer"],
        "summary": "Get customer by National ID",
        "description": "Retrieve customer information by National ID",
        "operationId": "getCustomerByNationalId",
        "produces": ["application/json"],
        "parameters": [
          {
            "name": "nationalId",
            "in": "path",
            "description": "National ID of customer to return",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/CoreCustomerDTO"
            }
          },
          "400": {
            "description": "Invalid National ID supplied",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "404": {
            "description": "Customer not found",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        },
        "security": [
          {
            "banking_auth": ["read:customers"]
          }
        ]
      }
    },
    "/CoreCustomer/{cif}": {
      "put": {
        "tags": ["customer"],
        "summary": "Update customer",
        "description": "Update customer information using CoreCustomerDTO for data transfer",
        "operationId": "updateCustomer",
        "consumes": ["application/json"],
        "produces": ["application/json"],
        "parameters": [
          {
            "name": "cif",
            "in": "path",
            "description": "CIF that needs to be updated",
            "required": true,
            "type": "integer",
            "format": "int64"
          },
          {
            "in": "body",
            "name": "body",
            "description": "Updated customer DTO object",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CoreCustomerDTO"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation"
          },
          "400": {
            "description": "Invalid customer supplied",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "404": {
            "description": "Customer not found",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        },
        "security": [
          {
            "banking_auth": ["write:customers"]
          }
        ]
      },
      "delete": {
        "tags": ["customer"],
        "summary": "Delete customer",
        "description": "Remove customer from the system",
        "operationId": "deleteCustomer",
        "produces": ["application/json"],
        "parameters": [
          {
            "name": "cif",
            "in": "path",
            "description": "The CIF that needs to be deleted",
            "required": true,
            "type": "integer",
            "format": "int64"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation"
          },
          "400": {
            "description": "Invalid CIF supplied",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "404": {
            "description": "Customer not found",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        },
        "security": [
          {
            "banking_auth": ["write:customers"]
          }
        ]
      }
    },
    "/Ecm/Folders": {
      "get": {
        "tags": ["document"],
        "summary": "Get all folders",
        "description": "Retrieve all document folders",
        "operationId": "getAllFolders",
        "produces": ["application/json"],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/EcmFolderDTO"
              }
            }
          }
        },
        "security": [
          {
            "api_key": []
          }
        ]
      },
      "post": {
        "tags": ["document"],
        "summary": "Create a new folder",
        "description": "Create a document folder using EcmFolderDTO for data transfer to the API. This endpoint creates a new folder and is associated with EcmFolderDTO for Nintex SmartObject generation.",
        "operationId": "createFolder",
        "consumes": ["application/json"],
        "produces": ["application/json"],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "Folder DTO object to create",
            "required": true,
            "schema": {
              "$ref": "#/definitions/EcmFolderDTO"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Folder created successfully",
            "schema": {
              "$ref": "#/definitions/EcmFolderDTO"
            }
          },
          "400": {
            "description": "Invalid input",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        },
        "security": [
          {
            "banking_auth": ["write:documents", "read:documents"]
          }
        ]
      }
    },
    "/Ecm/Folders/{cif}": {
      "get": {
        "tags": ["document"],
        "summary": "Get folders by CIF",
        "description": "Retrieve document folders for a specific customer CIF. This endpoint retrieves folders associated with a customer identified by their CIF number.",
        "operationId": "getFoldersByCif",
        "produces": ["application/json"],
        "parameters": [
          {
            "name": "cif",
            "in": "path",
            "description": "CIF of customer to retrieve folders for",
            "required": true,
            "type": "integer",
            "format": "int64"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/EcmFolderDTO"
              }
            }
          },
          "400": {
            "description": "Invalid CIF supplied",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "404": {
            "description": "Folders not found for the specified CIF",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        },
        "security": [
          {
            "banking_auth": ["read:documents"]
          }
        ]
      }
    },
    "/Ecm/Folders/{id}": {
      "put": {
        "tags": ["document"],
        "summary": "Update an existing folder",
        "description": "Update document folder information using EcmFolderDTO for data transfer",
        "operationId": "updateFolderById",
        "consumes": ["application/json"],
        "produces": ["application/json"],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "UUID of folder that needs to be updated",
            "required": true,
            "type": "string",
            "format": "uuid"
          },
          {
            "in": "body",
            "name": "body",
            "description": "Updated folder DTO object",
            "required": true,
            "schema": {
              "$ref": "#/definitions/EcmFolderDTO"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation"
          },
          "400": {
            "description": "Invalid ID supplied",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "404": {
            "description": "Folder not found",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "405": {
            "description": "Validation exception",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        },
        "security": [
          {
            "banking_auth": ["write:documents", "read:documents"]
          }
        ]
      },
      "delete": {
        "tags": ["document"],
        "summary": "Delete folder",
        "description": "Delete a document folder by folder ID (UUID)",
        "operationId": "deleteFolderById",
        "produces": ["application/json"],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "UUID of folder to delete",
            "required": true,
            "type": "string",
            "format": "uuid"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation"
          },
          "400": {
            "description": "Invalid ID supplied",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "404": {
            "description": "Folder not found",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        },
        "security": [
          {
            "banking_auth": ["write:documents"]
          }
        ]
      }
    },
    "/Ecm/Folders/{folderId}/{requestId}/Documents": {
      "get": {
        "tags": ["document"],
        "summary": "Get documents in a folder",
        "description": "Retrieve documents in a specific folder and request ID",
        "operationId": "getDocumentsByFolderAndRequestId",
        "produces": ["application/json"],
        "parameters": [
          {
            "name": "folderId",
            "in": "path",
            "description": "ID of folder to retrieve documents from",
            "required": true,
            "type": "string",
            "format": "uuid"
          },
          {
            "name": "requestId",
            "in": "path",
            "description": "Request ID associated with documents",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/EcmDocumentDTO"
              }
            }
          },
          "400": {
            "description": "Invalid folder ID or request ID supplied",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "404": {
            "description": "Documents not found",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        },
        "security": [
          {
            "banking_auth": ["read:documents"]
          }
        ]
      }
    },
    "/Ecm/Documents": {
      "get": {
        "tags": ["document"],
        "summary": "Get all documents",
        "description": "Retrieve all documents",
        "operationId": "getAllDocuments",
        "produces": ["application/json"],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/EcmDocumentDTO"
              }
            }
          }
        },
        "security": [
          {
            "api_key": []
          }
        ]
      },
      "post": {
        "tags": ["document"],
        "summary": "Upload a document",
        "description": "Upload a new document to the system using EcmDocumentDTO for data transfer to the API. This endpoint creates a new document and is associated with EcmDocumentDTO for Nintex SmartObject generation.",
        "operationId": "uploadDocument",
        "consumes": ["application/json"],
        "produces": ["application/json"],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "Document DTO object to upload",
            "required": true,
            "schema": {
              "$ref": "#/definitions/EcmDocumentDTO"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Document uploaded successfully",
            "schema": {
              "$ref": "#/definitions/EcmDocumentDTO"
            }
          },
          "400": {
            "description": "Invalid input",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        },
        "security": [
          {
            "banking_auth": ["write:documents", "read:documents"]
          }
        ]
      }
    },
    "/Ecm/Documents/{id}": {
      "get": {
        "tags": ["document"],
        "summary": "Get document by ID",
        "description": "Retrieve a specific document by ID",
        "operationId": "getDocumentById",
        "produces": ["application/json"],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "ID of document to return",
            "required": true,
            "type": "string",
            "format": "uuid"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/EcmDocumentDTO"
            }
          },
          "400": {
            "description": "Invalid ID supplied",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "404": {
            "description": "Document not found",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        },
        "security": [
          {
            "banking_auth": ["read:documents"]
          }
        ]
      },
      "put": {
        "tags": ["document"],
        "summary": "Update an existing document",
        "description": "Update document information using EcmDocumentDTO for data transfer",
        "operationId": "updateDocument",
        "consumes": ["application/json"],
        "produces": ["application/json"],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "ID of document that needs to be updated",
            "required": true,
            "type": "string",
            "format": "uuid"
          },
          {
            "in": "body",
            "name": "body",
            "description": "Updated document DTO object",
            "required": true,
            "schema": {
              "$ref": "#/definitions/EcmDocumentDTO"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation"
          },
          "400": {
            "description": "Invalid ID supplied",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "404": {
            "description": "Document not found",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "405": {
            "description": "Validation exception",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        },
        "security": [
          {
            "banking_auth": ["write:documents", "read:documents"]
          }
        ]
      },
      "delete": {
        "tags": ["document"],
        "summary": "Delete document",
        "description": "Delete a document",
        "operationId": "deleteDocument",
        "produces": ["application/json"],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Document ID to delete",
            "required": true,
            "type": "string",
            "format": "uuid"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation"
          },
          "400": {
            "description": "Invalid ID supplied",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "404": {
            "description": "Document not found",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        },
        "security": [
          {
            "banking_auth": ["write:documents"]
          }
        ]
      }
    },
    "/Ecm/Documents/{id}/Status": {
      "get": {
        "tags": ["document"],
        "summary": "Get document status",
        "description": "Retrieve the status of a specific document",
        "operationId": "getDocumentStatus",
        "produces": ["application/json"],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "ID of document to check status for",
            "required": true,
            "type": "string",
            "format": "uuid"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "type": "string"
            }
          },
          "400": {
            "description": "Invalid ID supplied",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "404": {
            "description": "Document not found",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        },
        "security": [
          {
            "banking_auth": ["read:documents"]
          }
        ]
      }
    }
  },
  "securityDefinitions": {
    "banking_auth": {
      "type": "oauth2",
      "authorizationUrl": "http://el-barka.runasp.net/oauth/dialog",
      "flow": "implicit",
      "scopes": {
        "write:aml": "modify AML screening records",
        "read:aml": "read AML screening records",
        "write:accounts": "modify accounts in your system",
        "read:accounts": "read your accounts",
        "write:customers": "modify customer records",
        "read:customers": "read customer records",
        "write:documents": "modify documents",
        "read:documents": "read documents"
      }
    },
    "api_key": {
      "type": "apiKey",
      "name": "api_key",
      "in": "header"
    }
  },
  "definitions": {
    "AmlScreening": {
      "type": "object",
      "required": ["riskLevel", "riskScore"],
      "properties": {
        "screeningId": {
          "type": "string",
          "format": "uuid",
          "description": "Unique identifier for the AML screening"
        },
        "nationalID": {
          "type": "string",
          "maxLength": 14,
          "minLength": 0,
          "description": "National ID of the customer"
        },
        "passportNo": {
          "type": "string",
          "maxLength": 30,
          "minLength": 0,
          "description": "Passport number of the customer"
        },
        "nameAr": {
          "type": "string",
          "maxLength": 200,
          "minLength": 0,
          "description": "Customer name in Arabic"
        },
        "nameEn": {
          "type": "string",
          "maxLength": 200,
          "minLength": 0,
          "description": "Customer name in English"
        },
        "riskScore": {
          "type": "integer",
          "format": "int32",
          "description": "Risk score from AML screening"
        },
        "riskLevel": {
          "type": "string",
          "maxLength": 10,
          "minLength": 0,
          "enum": ["low", "medium", "high"],
          "description": "Risk level from AML screening"
        },
        "hitsCount": {
          "type": "integer",
          "format": "int32",
          "description": "Number of hits in AML screening"
        },
        "performedAt": {
          "type": "string",
          "format": "date-time",
          "description": "Timestamp of when the screening was performed"
        }
      },
      "xml": {
        "name": "AmlScreening"
      }
    },
    "AmlScreeningDTO": {
      "type": "object",
      "required": ["riskLevel", "riskScore"],
      "properties": {
        "screeningId": {
          "type": "string",
          "format": "uuid",
          "description": "Unique identifier for the AML screening (DTO for API input/output)"
        },
        "nationalID": {
          "type": "string",
          "maxLength": 14,
          "minLength": 0,
          "description": "National ID of the customer"
        },
        "passportNo": {
          "type": "string",
          "maxLength": 30,
          "minLength": 0,
          "description": "Passport number of the customer"
        },
        "nameAr": {
          "type": "string",
          "maxLength": 200,
          "minLength": 0,
          "description": "Customer name in Arabic"
        },
        "nameEn": {
          "type": "string",
          "maxLength": 200,
          "minLength": 0,
          "description": "Customer name in English"
        },
        "riskScore": {
          "type": "integer",
          "format": "int32",
          "description": "Risk score from AML screening"
        },
        "riskLevel": {
          "type": "string",
          "maxLength": 10,
          "minLength": 0,
          "enum": ["low", "medium", "high"],
          "description": "Risk level from AML screening"
        },
        "hitsCount": {
          "type": "integer",
          "format": "int32",
          "description": "Number of hits in AML screening"
        },
        "performedAt": {
          "type": "string",
          "format": "date-time",
          "description": "Timestamp of when the screening was performed"
        }
      },
      "xml": {
        "name": "AmlScreeningDTO"
      },
      "description": "Data Transfer Object for AML screening operations, used for API input/output and Nintex SmartObject generation"
    },
    "CoreAccount": {
      "type": "object",
      "required": ["accountType", "cif", "currency"],
      "properties": {
        "accountNumber": {
          "type": "string",
          "maxLength": 20,
          "minLength": 0,
          "example": "1234567890",
          "description": "Unique account number"
        },
        "cif": {
          "type": "integer",
          "format": "int64",
          "description": "Customer Information File number"
        },
        "customer": {
          "$ref": "#/definitions/CoreCustomer",
          "description": "Reference to the associated customer"
        },
        "accountType": {
          "type": "string",
          "maxLength": 30,
          "minLength": 0,
          "enum": ["savings", "current", "fixed_deposit", "loan"],
          "description": "Type of account"
        },
        "currency": {
          "type": "string",
          "maxLength": 3,
          "minLength": 3,
          "example": "USD",
          "description": "Currency code"
        },
        "debitBlocked": {
          "type": "boolean",
          "default": false,
          "description": "Indicates if debit is blocked"
        },
        "productCode": {
          "type": "string",
          "maxLength": 30,
          "minLength": 0,
          "description": "Product code for the account"
        },
        "createdAt": {
          "type": "string",
          "format": "date-time",
          "description": "Timestamp of account creation"
        }
      },
      "xml": {
        "name": "CoreAccount"
      }
    },
    "CoreAccountDTO": {
      "type": "object",
      "required": ["accountType", "cif", "currency"],
      "properties": {
        "accountNumber": {
          "type": "string",
          "maxLength": 20,
          "minLength": 0,
          "example": "1234567890",
          "description": "Unique account number"
        },
        "cif": {
          "type": "integer",
          "format": "int64",
          "description": "Customer Information File number"
        },
        "accountType": {
          "type": "string",
          "maxLength": 30,
          "minLength": 0,
          "enum": ["savings", "current", "fixed_deposit", "loan"],
          "description": "Type of account"
        },
        "currency": {
          "type": "string",
          "maxLength": 3,
          "minLength": 3,
          "example": "USD",
          "description": "Currency code"
        },
        "debitBlocked": {
          "type": "boolean",
          "default": false,
          "description": "Indicates if debit is blocked"
        },
        "productCode": {
          "type": "string",
          "maxLength": 30,
          "minLength": 0,
          "description": "Product code for the account"
        },
        "createdAt": {
          "type": "string",
          "format": "date-time",
          "description": "Timestamp of account creation"
        },
        "customer": {
          "$ref": "#/definitions/CoreCustomerDTO",
          "description": "Reference to the associated customer DTO"
        }
      },
      "xml": {
        "name": "CoreAccountDTO"
      },
      "description": "Data Transfer Object for account operations, used for API input/output and Nintex SmartObject generation"
    },
    "CoreCustomer": {
      "type": "object",
      "required": ["nameAr", "dob", "gender", "mobile", "branchCode"],
      "properties": {
        "cif": {
          "type": "integer",
          "format": "int64",
          "example": 0,
          "description": "Customer Information File number (optional, set to 0 if not assigned)"
        },
        "nationalID": {
          "type": "string",
          "maxLength": 14,
          "minLength": 0,
          "example": "1736536521234",
          "description": "National ID of the customer"
        },
        "passportNo": {
          "type": "string",
          "maxLength": 30,
          "minLength": 0,
          "example": "0680645",
          "description": "Passport number of the customer"
        },
        "nameAr": {
          "type": "string",
          "maxLength": 200,
          "minLength": 1,
          "example": "محمد أحمد",
          "description": "Customer name in Arabic"
        },
        "nameEn": {
          "type": "string",
          "maxLength": 200,
          "minLength": 0,
          "example": "Mohammed Ahmed",
          "description": "Customer name in English"
        },
        "dob": {
          "type": "string",
          "format": "date",
          "example": "1990-01-01",
          "description": "Date of birth (YYYY-MM-DD)"
        },
        "gender": {
          "type": "string",
          "enum": ["M", "F"],
          "example": "M",
          "description": "Gender of the customer (M or F)"
        },
        "address": {
          "type": "string",
          "maxLength": 400,
          "minLength": 0,
          "example": "123 Main St, City",
          "description": "Customer address"
        },
        "mobile": {
          "type": "string",
          "maxLength": 20,
          "minLength": 1,
          "example": "+1234567890",
          "description": "Customer mobile number"
        },
        "email": {
          "type": "string",
          "maxLength": 200,
          "minLength": 0,
          "format": "email",
          "example": "mohammed@example.com",
          "description": "Customer email address"
        },
        "branchCode": {
          "type": "string",
          "maxLength": 10,
          "minLength": 1,
          "example": "BR001",
          "description": "Branch code"
        },
        "createdAt": {
          "type": "string",
          "format": "date-time",
          "example": "2025-08-20T11:38:45.184Z",
          "description": "Creation timestamp (optional, typically set by the server)"
        },
        "accounts": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/CoreAccount"
          },
          "description": "List of accounts associated with the customer"
        }
      },
      "xml": {
        "name": "CoreCustomer"
      }
    },
    "CoreCustomerDTO": {
      "type": "object",
      "required": ["nameAr", "dob", "gender", "mobile", "branchCode"],
      "properties": {
        "cif": {
          "type": "integer",
          "format": "int64",
          "example": 0,
          "description": "Customer Information File number (optional, set to 0 if not assigned)"
        },
        "nationalID": {
          "type": "string",
          "maxLength": 14,
          "minLength": 0,
          "example": "1736536521234",
          "description": "National ID of the customer"
        },
        "passportNo": {
          "type": "string",
          "maxLength": 30,
          "minLength": 0,
          "example": "0680645",
          "description": "Passport number of the customer"
        },
        "nameAr": {
          "type": "string",
          "maxLength": 200,
          "minLength": 1,
          "example": "محمد أحمد",
          "description": "Customer name in Arabic"
        },
        "nameEn": {
          "type": "string",
          "maxLength": 200,
          "minLength": 0,
          "example": "Mohammed Ahmed",
          "description": "Customer name in English"
        },
        "dob": {
          "type": "string",
          "format": "date",
          "example": "1990-01-01",
          "description": "Date of birth (YYYY-MM-DD)"
        },
        "gender": {
          "type": "string",
          "enum": ["M", "F"],
          "example": "M",
          "description": "Gender of the customer (M or F)"
        },
        "address": {
          "type": "string",
          "maxLength": 400,
          "minLength": 0,
          "example": "123 Main St, City",
          "description": "Customer address"
        },
        "mobile": {
          "type": "string",
          "maxLength": 20,
          "minLength": 1,
          "example": "+1234567890",
          "description": "Customer mobile number"
        },
        "email": {
          "type": "string",
          "maxLength": 200,
          "minLength": 0,
          "format": "email",
          "example": "mohammed@example.com",
          "description": "Customer email address"
        },
        "branchCode": {
          "type": "string",
          "maxLength": 10,
          "minLength": 1,
          "example": "BR001",
          "description": "Branch code"
        },
        "createdAt": {
          "type": "string",
          "format": "date-time",
          "example": "2025-08-20T11:38:45.184Z",
          "description": "Creation timestamp (optional, typically set by the server)"
        },
        "accounts": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/CoreAccountDTO"
          },
          "description": "List of accounts associated with the customer (DTO)"
        }
      },
      "xml": {
        "name": "CoreCustomerDTO"
      },
      "description": "Data Transfer Object for customer operations, used for API input/output and Nintex SmartObject generation"
    },
    "EcmDocument": {
      "type": "object",
      "required": ["docType", "fileName", "folderId", "requestId"],
      "properties": {
        "documentId": {
          "type": "string",
          "format": "uuid",
          "description": "Unique identifier for the document"
        },
        "folderId": {
          "type": "string",
          "format": "uuid",
          "description": "ID of the folder containing the document"
        },
        "folder": {
          "$ref": "#/definitions/EcmFolder",
          "description": "Reference to the associated folder"
        },
        "requestId": {
          "type": "string",
          "maxLength": 50,
          "minLength": 0,
          "example": "REQ001",
          "description": "Request ID associated with the document"
        },
        "docType": {
          "type": "string",
          "maxLength": 50,
          "minLength": 0,
          "enum": ["identity", "proof_of_income", "bank_statement", "contract", "other"],
          "description": "Type of document"
        },
        "fileName": {
          "type": "string",
          "maxLength": 255,
          "minLength": 0,
          "example": "document.pdf",
          "description": "Name of the document file"
        },
        "uploadedAt": {
          "type": "string",
          "format": "date-time",
          "description": "Timestamp of document upload"
        }
      },
      "xml": {
        "name": "EcmDocument"
      }
    },
    "EcmDocumentDTO": {
      "type": "object",
      "required": ["docType", "fileName", "folderId", "requestId"],
      "properties": {
        "documentId": {
          "type": "string",
          "format": "uuid",
          "description": "Unique identifier for the document"
        },
        "folderId": {
          "type": "string",
          "format": "uuid",
          "description": "ID of the folder containing the document"
        },
        "requestId": {
          "type": "string",
          "maxLength": 50,
          "minLength": 0,
          "example": "REQ001",
          "description": "Request ID associated with the document"
        },
        "docType": {
          "type": "string",
          "maxLength": 50,
          "minLength": 0,
          "enum": ["identity", "proof_of_income", "bank_statement", "contract", "other"],
          "description": "Type of document"
        },
        "fileName": {
          "type": "string",
          "maxLength": 255,
          "minLength": 0,
          "example": "document.pdf",
          "description": "Name of the document file"
        },
        "uploadedAt": {
          "type": "string",
          "format": "date-time",
          "description": "Timestamp of document upload"
        },
        "folder": {
          "$ref": "#/definitions/EcmFolderDTO",
          "description": "Reference to the associated folder DTO"
        }
      },
      "xml": {
        "name": "EcmDocumentDTO"
      },
      "description": "Data Transfer Object for document operations, used for API input/output and Nintex SmartObject generation"
    },
    "EcmFolder": {
      "type": "object",
      "required": ["cif", "requestId"],
      "properties": {
        "folderId": {
          "type": "string",
          "format": "uuid",
          "description": "Unique identifier for the folder"
        },
        "cif": {
          "type": "integer",
          "format": "int64",
          "description": "Customer Information File number"
        },
        "requestId": {
          "type": "string",
          "maxLength": 50,
          "minLength": 0,
          "example": "REQ001",
          "description": "Request ID associated with the folder"
        },
        "pathHint": {
          "type": "string",
          "maxLength": 500,
          "minLength": 0,
          "description": "Path hint for the folder"
        },
        "createdAt": {
          "type": "string",
          "format": "date-time",
          "description": "Timestamp of folder creation"
        },
        "documents": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/EcmDocument"
          },
          "description": "List of documents in the folder"
        }
      },
      "xml": {
        "name": "EcmFolder"
      }
    },
    "EcmFolderDTO": {
      "type": "object",
      "required": ["cif", "requestId"],
      "properties": {
        "folderId": {
          "type": "string",
          "format": "uuid",
          "description": "Unique identifier for the folder"
        },
        "cif": {
          "type": "integer",
          "format": "int64",
          "description": "Customer Information File number"
        },
        "requestId": {
          "type": "string",
          "maxLength": 50,
          "minLength": 0,
          "example": "REQ001",
          "description": "Request ID associated with the folder"
        },
        "pathHint": {
          "type": "string",
          "maxLength": 500,
          "minLength": 0,
          "description": "Path hint for the folder"
        },
        "createdAt": {
          "type": "string",
          "format": "date-time",
          "description": "Timestamp of folder creation"
        },
        "documents": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/EcmDocumentDTO"
          },
          "description": "List of documents in the folder (DTO)"
        }
      },
      "xml": {
        "name": "EcmFolderDTO"
      },
      "description": "Data Transfer Object for folder operations, used for API input/output and Nintex SmartObject generation"
    },
    "Error": {
      "type": "object",
      "properties": {
        "code": {
          "type": "string",
          "example": "400"
        },
        "message": {
          "type": "string",
          "example": "Invalid input: Missing required field"
        }
      },
      "description": "Error response for API requests"
    }
  },
  "externalDocs": {
    "description": "Find out more about Banking API",
    "url": "http://el-barka.runasp.net"
  }
}
