{
  "swagger": "2.0",
  "info": {
    "description": "This is a comprehensive Banking API server that provides core banking functionalities including customer management, account operations, AML screening, and document management. You can find out more about this API at http://el-barka.runasp.net.",
    "version": "1.0",
    "title": "BankingAPI",
    "termsOfService": "http://el-barka.runasp.net/terms/",
    "contact": {
      "email": "api@el-barka.runasp.net"
    },
    "license": {
      "name": "Apache 2.0",
      "url": "http://www.apache.org/licenses/LICENSE-2.0.html"
    }
  },
  "host": "el-barka.runasp.net",
  "basePath": "/api",
  "tags": [
    {
      "name": "aml",
      "description": "Anti-Money Laundering operations",
      "externalDocs": {
        "description": "Find out more about AML",
        "url": "http://el-barka.runasp.net/aml"
      }
    },
    {
      "name": "account",
      "description": "Core banking account operations"
    },
    {
      "name": "customer",
      "description": "Customer management operations",
      "externalDocs": {
        "description": "Find out more about customer management",
        "url": "http://el-barka.runasp.net/customers"
      }
    },
    {
      "name": "document",
      "description": "Document and folder management operations"
    }
  ],
  "schemes": ["http"],
  "paths": {
    "/Aml": {
      "post": {
        "tags": ["aml"],
        "summary": "Create a new AML screening",
        "description": "Perform AML screening for a customer",
        "operationId": "createAmlScreening",
        "consumes": ["application/json"],
        "produces": ["application/json"],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "AML screening object that needs to be created",
            "required": true,
            "schema": {
              "$ref": "#/definitions/AmlScreeningInput"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/AmlScreening"
            }
          },
          "400": {
            "description": "Invalid input"
          },
          "405": {
            "description": "Validation exception"
          }
        },
        "security": [
          {
            "banking_auth": ["write:aml", "read:aml"]
          }
        ]
      }
    },
    "/CoreAccount": {
      "post": {
        "tags": ["account"],
        "summary": "Create a new account",
        "description": "Create a new bank account",
        "operationId": "createAccount",
        "consumes": ["application/json"],
        "produces": ["application/json"],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "Account object that needs to be created",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CoreAccountInput"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation"
          },
          "400": {
            "description": "Invalid input"
          },
          "405": {
            "description": "Validation exception"
          }
        },
        "security": [
          {
            "banking_auth": ["write:accounts", "read:accounts"]
          }
        ]
      }
    },
    "/CoreCustomer": {
      "post": {
        "tags": ["customer"],
        "summary": "Create customer",
        "description": "Register a new customer",
        "operationId": "createCustomer",
        "consumes": ["application/json"],
        "produces": ["application/json"],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "Created customer object",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CoreCustomerInput"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation"
          },
          "400": {
            "description": "Invalid input"
          }
        },
        "security": [
          {
            "banking_auth": ["write:customers"]
          }
        ]
      }
    },
    "/Ecm/Folders": {
      "post": {
        "tags": ["document"],
        "summary": "Create a new folder",
        "description": "Create a document folder",
        "operationId": "createFolder",
        "consumes": ["application/json"],
        "produces": ["application/json"],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "Folder object that needs to be created",
            "required": true,
            "schema": {
              "$ref": "#/definitions/EcmFolderInput"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/EcmFolder"
            }
          },
          "405": {
            "description": "Invalid input"
          }
        },
        "security": [
          {
            "banking_auth": ["write:documents", "read:documents"]
          }
        ]
      }
    },
    "/Ecm/Folders/{folderId}/{requestId}/Documents": {
      "get": {
        "tags": ["document"],
        "summary": "Get documents in a folder",
        "description": "Retrieve documents in a specific folder and request ID",
        "operationId": "getDocumentsByFolderAndRequestId",
        "produces": ["application/json"],
        "parameters": [
          {
            "name": "folderId",
            "in": "path",
            "description": "ID of folder to retrieve documents from",
            "required": true,
            "type": "string",
            "format": "uuid"
          },
          {
            "name": "requestId",
            "in": "path",
            "description": "Request ID associated with documents",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/EcmDocumentDTO"
              }
            }
          },
          "400": {
            "description": "Invalid folder ID or request ID supplied"
          },
          "404": {
            "description": "Documents not found"
          }
        },
        "security": [
          {
            "banking_auth": ["read:documents"]
          }
        ]
      }
    },
    "/Ecm/Documents": {
      "post": {
        "tags": ["document"],
        "summary": "Upload a document",
        "description": "Upload a new document to the system",
        "operationId": "uploadDocument",
        "consumes": ["application/json"],
        "produces": ["application/json"],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "Document object to upload",
            "required": true,
            "schema": {
              "$ref": "#/definitions/EcmDocumentInput"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/EcmDocument"
            }
          },
          "405": {
            "description": "Invalid input"
          }
        },
        "security": [
          {
            "banking_auth": ["write:documents", "read:documents"]
          }
        ]
      }
    }
  },
  "securityDefinitions": {
    "banking_auth": {
      "type": "oauth2",
      "authorizationUrl": "http://el-barka.runasp.net/oauth/dialog",
      "flow": "implicit",
      "scopes": {
        "write:aml": "modify AML screening records",
        "read:aml": "read AML screening records",
        "write:accounts": "modify accounts in your system",
        "read:accounts": "read your accounts",
        "write:customers": "modify customer records",
        "read:customers": "read customer records",
        "write:documents": "modify documents",
        "read:documents": "read documents"
      }
    },
    "api_key": {
      "type": "apiKey",
      "name": "api_key",
      "in": "header"
    }
  },
  "definitions": {
    "AmlScreeningInput": {
      "type": "object",
      "required": ["riskLevel", "riskScore"],
      "properties": {
        "nationalID": {
          "type": "string",
          "maxLength": 14,
          "minLength": 1,
          "example": "12345678901234"
        },
        "passportNo": {
          "type": "string",
          "maxLength": 30,
          "minLength": 1,
          "example": "A12345678"
        },
        "nameAr": {
          "type": "string",
          "maxLength": 200,
          "minLength": 1,
          "example": "محمد أحمد"
        },
        "nameEn": {
          "type": "string",
          "maxLength": 200,
          "minLength": 1,
          "example": "Mohamed Ahmed"
        },
        "riskScore": {
          "type": "integer",
          "format": "int32",
          "example": 75
        },
        "riskLevel": {
          "type": "string",
          "enum": ["low", "medium", "high"],
          "example": "medium"
        },
        "hitsCount": {
          "type": "integer",
          "format": "int32",
          "example": 2
        },
        "performedAt": {
          "type": "string",
          "format": "date-time",
          "example": "2025-08-18T13:57:00Z"
        }
      }
    },
    "AmlScreening": {
      "type": "object",
      "required": ["riskLevel", "riskScore"],
      "properties": {
        "screeningId": {
          "type": "string",
          "format": "uuid",
          "example": "550e8400-e29b-41d4-a716-446655440000"
        },
        "nationalID": {
          "type": "string",
          "maxLength": 14,
          "minLength": 1,
          "example": "12345678901234"
        },
        "passportNo": {
          "type": "string",
          "maxLength": 30,
          "minLength": 1,
          "example": "A12345678"
        },
        "nameAr": {
          "type": "string",
          "maxLength": 200,
          "minLength": 1,
          "example": "محمد أحمد"
        },
        "nameEn": {
          "type": "string",
          "maxLength": 200,
          "minLength": 1,
          "example": "Mohamed Ahmed"
        },
        "riskScore": {
          "type": "integer",
          "format": "int32",
          "example": 75
        },
        "riskLevel": {
          "type": "string",
          "enum": ["low", "medium", "high"],
          "example": "medium"
        },
        "hitsCount": {
          "type": "integer",
          "format": "int32",
          "example": 2
        },
        "performedAt": {
          "type": "string",
          "format": "date-time",
          "example": "2025-08-18T13:57:00Z"
        }
      },
      "xml": {
        "name": "AmlScreening"
      }
    },
    "CoreAccountInput": {
      "type": "object",
      "required": ["accountType", "cif", "currency"],
      "properties": {
        "accountNumber": {
          "type": "string",
          "maxLength": 20,
          "minLength": 1,
          "example": "1234567890"
        },
        "cif": {
          "type": "integer",
          "format": "int64",
          "example": 123456
        },
        "accountType": {
          "type": "string",
          "enum": ["savings", "current", "fixed_deposit", "loan"],
          "example": "savings"
        },
        "currency": {
          "type": "string",
          "maxLength": 3,
          "minLength": 3,
          "example": "USD"
        },
        "debitBlocked": {
          "type": "boolean",
          "example": false
        },
        "productCode": {
          "type": "string",
          "maxLength": 30,
          "minLength": 1,
          "example": "SAV001"
        },
        "createdAt": {
          "type": "string",
          "format": "date-time",
          "example": "2025-08-18T13:57:00Z"
        }
      }
    },
    "CoreAccount": {
      "type": "object",
      "required": ["accountType", "cif", "currency"],
      "properties": {
        "accountNumber": {
          "type": "string",
          "maxLength": 20,
          "minLength": 1,
          "example": "1234567890"
        },
        "cif": {
          "type": "integer",
          "format": "int64",
          "example": 123456
        },
        "accountType": {
          "type": "string",
          "enum": ["savings", "current", "fixed_deposit", "loan"],
          "example": "savings"
        },
        "currency": {
          "type": "string",
          "maxLength": 3,
          "minLength": 3,
          "example": "USD"
        },
        "debitBlocked": {
          "type": "boolean",
          "example": false
        },
        "productCode": {
          "type": "string",
          "maxLength": 30,
          "minLength": 1,
          "example": "SAV001"
        },
        "createdAt": {
          "type": "string",
          "format": "date-time",
          "example": "2025-08-18T13:57:00Z"
        }
      },
      "xml": {
        "name": "CoreAccount"
      }
    },
    "CoreCustomerInput": {
      "type": "object",
      "required": ["branchCode", "dob", "gender", "mobile", "nameAr"],
      "properties": {
        "nationalID": {
          "type": "string",
          "maxLength": 14,
          "minLength": 1,
          "example": "12345678901234"
        },
        "passportNo": {
          "type": "string",
          "maxLength": 30,
          "minLength": 1,
          "example": "A12345678"
        },
        "nameAr": {
          "type": "string",
          "maxLength": 200,
          "minLength": 1,
          "example": "محمد أحمد"
        },
        "nameEn": {
          "type": "string",
          "maxLength": 200,
          "minLength": 1,
          "example": "Mohamed Ahmed"
        },
        "dob": {
          "type": "string",
          "format": "date",
          "example": "1990-01-01"
        },
        "gender": {
          "type": "string",
          "enum": ["male", "female"],
          "example": "male"
        },
        "address": {
          "type": "string",
          "maxLength": 400,
          "minLength": 1,
          "example": "123 Main St, Cairo"
        },
        "mobile": {
          "type": "string",
          "maxLength": 20,
          "minLength": 1,
          "example": "+201234567890"
        },
        "email": {
          "type": "string",
          "maxLength": 200,
          "minLength": 1,
          "format": "email",
          "example": "mohamed@example.com"
        },
        "branchCode": {
          "type": "string",
          "maxLength": 10,
          "minLength": 1,
          "example": "BR001"
        },
        "createdAt": {
          "type": "string",
          "format": "date-time",
          "example": "2025-08-18T13:57:00Z"
        }
      }
    },
    "CoreCustomer": {
      "type": "object",
      "required": ["branchCode", "dob", "gender", "mobile", "nameAr"],
      "properties": {
        "cif": {
          "type": "integer",
          "format": "int64",
          "example": 123456
        },
        "nationalID": {
          "type": "string",
          "maxLength": 14,
          "minLength": 1,
          "example": "12345678901234"
        },
        "passportNo": {
          "type": "string",
          "maxLength": 30,
          "minLength": 1,
          "example": "A12345678"
        },
        "nameAr": {
          "type": "string",
          "maxLength": 200,
          "minLength": 1,
          "example": "محمد أحمد"
        },
        "nameEn": {
          "type": "string",
          "maxLength": 200,
          "minLength": 1,
          "example": "Mohamed Ahmed"
        },
        "dob": {
          "type": "string",
          "format": "date",
          "example": "1990-01-01"
        },
        "gender": {
          "type": "string",
          "enum": ["male", "female"],
          "example": "male"
        },
        "address": {
          "type": "string",
          "maxLength": 400,
          "minLength": 1,
          "example": "123 Main St, Cairo"
        },
        "mobile": {
          "type": "string",
          "maxLength": 20,
          "minLength": 1,
          "example": "+201234567890"
        },
        "email": {
          "type": "string",
          "maxLength": 200,
          "minLength": 1,
          "format": "email",
          "example": "mohamed@example.com"
        },
        "branchCode": {
          "type": "string",
          "maxLength": 10,
          "minLength": 1,
          "example": "BR001"
        },
        "createdAt": {
          "type": "string",
          "format": "date-time",
          "example": "2025-08-18T13:57:00Z"
        }
      },
      "xml": {
        "name": "CoreCustomer"
      }
    },
    "EcmFolderInput": {
      "type": "object",
      "required": ["cif", "requestId"],
      "properties": {
        "cif": {
          "type": "integer",
          "format": "int64",
          "example": 123456
        },
        "requestId": {
          "type": "string",
          "maxLength": 50,
          "minLength": 1,
          "example": "REQ001"
        },
        "pathHint": {
          "type": "string",
          "maxLength": 500,
          "minLength": 1,
          "example": "/customers/123456/docs"
        },
        "createdAt": {
          "type": "string",
          "format": "date-time",
          "example": "2025-08-18T13:57:00Z"
        }
      }
    },
    "EcmFolder": {
      "type": "object",
      "required": ["cif", "requestId"],
      "properties": {
        "folderId": {
          "type": "string",
          "format": "uuid",
          "example": "550e8400-e29b-41d4-a716-446655440000"
        },
        "cif": {
          "type": "integer",
          "format": "int64",
          "example": 123456
        },
        "requestId": {
          "type": "string",
          "maxLength": 50,
          "minLength": 1,
          "example": "REQ001"
        },
        "pathHint": {
          "type": "string",
          "maxLength": 500,
          "minLength": 1,
          "example": "/customers/123456/docs"
        },
        "createdAt": {
          "type": "string",
          "format": "date-time",
          "example": "2025-08-18T13:57:00Z"
        }
      },
      "xml": {
        "name": "EcmFolder"
      }
    },
    "EcmDocumentInput": {
      "type": "object",
      "required": ["docType", "fileName", "folderId", "requestId"],
      "properties": {
        "folderId": {
          "type": "string",
          "format": "uuid",
          "example": "550e8400-e29b-41d4-a716-446655440000"
        },
        "requestId": {
          "type": "string",
          "maxLength": 50,
          "minLength": 1,
          "example": "REQ001"
        },
        "docType": {
          "type": "string",
          "enum": ["identity", "proof_of_income", "bank_statement", "contract", "other"],
          "example": "identity"
        },
        "fileName": {
          "type": "string",
          "maxLength": 255,
          "minLength": 1,
          "example": "passport.pdf"
        },
        "uploadedAt": {
          "type": "string",
          "format": "date-time",
          "example": "2025-08-18T13:57:00Z"
        }
      }
    },
    "EcmDocument": {
      "type": "object",
      "required": ["docType", "fileName", "folderId", "requestId"],
      "properties": {
        "documentId": {
          "type": "string",
          "format": "uuid",
          "example": "123e4567-e89b-12d3-a456-426614174000"
        },
        "folderId": {
          "type": "string",
          "format": "uuid",
          "example": "550e8400-e29b-41d4-a716-446655440000"
        },
        "requestId": {
          "type": "string",
          "maxLength": 50,
          "minLength": 1,
          "example": "REQ001"
        },
        "docType": {
          "type": "string",
          "enum": ["identity", "proof_of_income", "bank_statement", "contract", "other"],
          "example": "identity"
        },
        "fileName": {
          "type": "string",
          "maxLength": 255,
          "minLength": 1,
          "example": "passport.pdf"
        },
        "uploadedAt": {
          "type": "string",
          "format": "date-time",
          "example": "2025-08-18T13:57:00Z"
        }
      },
      "xml": {
        "name": "EcmDocument"
      }
    },
    "EcmDocumentDTO": {
      "type": "object",
      "properties": {
        "documentId": {
          "type": "string",
          "format": "uuid",
          "example": "123e4567-e89b-12d3-a456-426614174000"
        },
        "folderId": {
          "type": "string",
          "format": "uuid",
          "example": "550e8400-e29b-41d4-a716-446655440000"
        },
        "requestId": {
          "type": "string",
          "example": "REQ001"
        },
        "docType": {
          "type": "string",
          "example": "identity"
        },
        "fileName": {
          "type": "string",
          "example": "passport.pdf"
        },
        "uploadedAt": {
          "type": "string",
          "format": "date-time",
          "example": "2025-08-18T13:57:00Z"
        }
      },
      "xml": {
        "name": "EcmDocumentDTO"
      }
    }
  },
  "externalDocs": {
    "description": "Find out more about Banking API",
    "url": "http://el-barka.runasp.net"
  }
}
